@import '../../../styles/main.scss';

.collapseContainer {
    &--row {
        @include flex(row, space-between, stretch, 76px);
        font-size: 18px;
    }
    &--column {
        @include flex(column, space-between, stretch, 30px);
        padding: 0px 8.75%;
        font-size: 20px;
    }
}