@import '../../../styles/main.scss';

.tag {
    color: $color-tertiary;
    background-color: $color-primary;
    min-width: 115px;
    height: 25px;
    padding: 0px 15px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}