@import '../../../styles/main.scss';

.banner {
    position: relative;
    height: 223px;
    @include flex(row, center, center, 0px);

    @media screen and (max-width: $breakpoint-mobile) {
        height: 111px;
    }

    &::before {
        content: '';
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);

        @media screen and (max-width: $breakpoint-mobile) {
            border-radius: 10px;
        }
    }

    &__img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media screen and (max-width: $breakpoint-mobile) {
            border-radius: 10px;
        }
    }

    &__text {
        position: absolute;
        color: $color-tertiary;
        font-size: 48px;
        font-weight: 500;

        @media screen and (max-width: $breakpoint-mobile) {
            font-size: 24px;
            word-break: keep-all;
            text-align: start;
            padding: 0px 16px;
            line-height: 100%;
        }
    }
}