@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}