@import '../../../styles/main.scss';

.infos {
    @include flex(column, center, flex-start, 0px);
    color: $color-primary;

    &__title {
        font-size: 36px;
        font-weight: 500;
    }

    &__location {
        font-size: 18px;
        font-weight: 500;
    }
}