@import '../../../styles/main.scss';

.footer {
    @include flex(column, flex-end, center, 28.556px);
    left: 0;
    bottom: 0;
    padding-top: 66px;
    padding-bottom: 29px;
    background-color: black;

    &__text {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }
}