@import '../../../styles/main.scss';

.host__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    @media screen and (max-width: $breakpoint-mobile){
        width: 32px;
        height: 32px;
    }
}