@import '../../../styles/main.scss';

.error {
    @include flex(column, flex-start, stretch, 139px);
    color: $color-primary;
    
    &__h1 {
        @include flex(row, center, center);
        height: 263px; 
        font-size: 288px;
        font-weight: 700;
    }

    &__h2 {
        font-weight: 500;
        font-size: 36px; 
        text-align: center;
    }

    &__link {
        text-align: center;
    }
}