@import '../../../styles/main.scss';

.error {
    @include flex(column, flex-start, stretch, 139px);
    color: $color-primary;
    padding-bottom: 139px;
    
    @media screen and (max-width: $breakpoint-mobile){
        @include flex(column, flex-start, stretch, 113px);
        padding-bottom: 113px;
    }
    
    &__h1 {
        @include flex(row, center, center);
        font-size: 288px;
        font-weight: 700;
        @media screen and (max-width: $breakpoint-mobile){
            font-size: 96px;
        }
    }

    &__h2 {
        font-weight: 500;
        font-size: 36px; 
        text-align: center;
        @media screen and (max-width: $breakpoint-mobile){
            font-size: 18px;
        }
    }

    &__link {
        text-align: center;
        text-decoration: underline;
        &>a {
            @media screen and (max-width: $breakpoint-mobile){
                font-size: 14px;
            }
        }
    }
}